.dashboard-gather {
  display: flex;
  .dashboard-gather-item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $--content-bg;
    height: 108px;
    padding: 15px;
    box-shadow: 4px 4px 40px rgba(0,0,0,0.05);
    border-color: rgba(0,0,0,0.05);
    cursor: pointer;
    &:hover {
      .dashboard-gather-icon {
        /deep/ .svg-icon {
          color: #fff;
        }
      }
      .dashboard-gather-icon.green {
        background-color: #40c9c6;
      }
      .dashboard-gather-icon.blue {
        background-color: #36a3f7;
      }
      .dashboard-gather-icon.red {
        background-color: #f4516c;
      }
    }
  }
  .dashboard-gather-item + .dashboard-gather-item  {
    margin-left: 20px;
  }
  .dashboard-gather-icon,
  .dashboard-gather-number {
    display: inline-block;
  }
  .dashboard-gather-icon {
    padding: 16px;
    /deep/ .svg-icon {
      font-size: ($--font-size + 2) * 3;
    }
    border-radius: 6px;
    transition: all 0.38s ease-out;
  }
  .dashboard-gather-icon.green {
    /deep/ .svg-icon {
      color: #40c9c6;
    }
  }
  .dashboard-gather-icon.blue {
    /deep/ .svg-icon {
      color: #36a3f7;
    }
  }
  .dashboard-gather-icon.red {
    /deep/ .svg-icon {
      color: #f4516c;
    }
  }
  .dashboard-gather-number {
    margin-right: 15px;
    h2 {
      font-size: $--font-size + 2px;
      color: rgba(0,0,0,0.45);
      margin-bottom: 12px;
    }
    h3 {
      font-size: $--font-size + 6px;
      font-weight: bold;
    }
  }
}

.dashboard {
  /deep/ .el-tabs {
    margin-top: 20px;
    padding: 15px;
    background-color: $--content-bg;
  }
}